まずは、簡単なプロフィールを羅列してみました。<br>
<br>
名前：ozaki<br>
性別：男<br>
血液型：B型<br>
職業：FX専業トレーダー<br>
趣味：ドライブ、カラオケ、読書、ホラー<br>
住居：関東在住<br>
ＦＸ歴：1年<br>
今年の目標：スキャルピングを極める<br>
最近欲しいもの：本<br>
モニターの数：2枚<br>
行きたい場所:星が綺麗に見える場所<br>
メールアドレス：oxaji0306@yahoo.co.jp<br>
<br>
%h3 FXを始めたきっかけ<br>
最初は仮想通貨バブルの時代から投資の世界を知りました。<br>
あの頃は、バブルの真っ最中だったため、2倍、3倍と増えて行きました。<br>
（買えば誰でも勝てた時代）<br>
そのバブルも弾け、次に目をつけたのがFXと株でした。<br>
手法と考え方を学ぶために国会図書館で本を読み漁りました。<br>
テクニカルというチャートの動きから予測する方法を学び、これを極めれば（正解に近しいものを見つければ）<br>
安全にお金を増やせるのでは...！ と思いました。<br>