.content
  .box 
    .wave.-one 
    .wave.-two
    .wave.-three
    .title FXchartへようこそ
  .menu
    .menu__home
      =link_to "Home","#"
    .menu__ranking
      =link_to "Ranking","/rankings"
    .menu__guide
      =link_to "Guide","#"
    .menu__profile
      =link_to "Profile","#"
  .charts
    .chart
      - @charts.each do |chart|
        .a
          .chart__name
            =link_to chart.name, "/charts/#{chart[:id]}"
          .chart__img
            =link_to image_tag(chart.image.url, size:'400x300'),"/charts/#{chart[:id]}"
          .chart__text
            =chart.text
          .likecount
            いいね数：
            = @likes_count
= paginate @charts