.new{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  .toukou{
    font-size: 24px;
    background-color: rgb(49, 135, 216);
    color: white;
    margin: 0 auto;
    margin-top: 20px;

  }
  .chart__name{
    position: left 0;
    margin-top: 20px;
    .chart__name_1{
      width: 13%;
    }
    input{
      display: block;
      width: 100%;
      height: 40px;
    }
  }
  .chart__img{
    margin-top: 20px;
    .chart__img_1{
      width: 25%;
    }
    input{
      display: block;
      width: 100%;
      height: 40px;
    }
  }
  .chart__text{
    margin-top: 20px;
    .chart__text_1{
      width: 14%;
    }
    input{
      display: block;
      width: 100%;
      height: 40px;
    }
  }
  .winlose{
    .winlose__text{
    width: 30%;
    margin-top: 20px;
    background-color: rgb(49, 135, 216); 
    color: white;
    }
    .winlose__content{
      width: 40%;
      margin-bottom: 20px;
    }
  }
  .style{
    .style__text{
    width: 30%;
    margin-top: 20px;
    background-color: rgb(49, 135, 216); 
    color: white;
    }
    .style__content{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .timefoot{
    .timefoot__text{
    width: 30%;
    margin-top: 20px;
    background-color: rgb(49, 135, 216); 
    color: white;
    }
    .timefoot__content{
      width: 95%;
      margin-bottom: 20px;
    }
  }
  .pair{
    .pair__text{
    width: 30%;
    margin-top: 20px;
    background-color: rgb(49, 135, 216); 
    color: white;
    }
    .pair__content{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .analyze{
    .analyze__text{
    width: 18%;
    margin-top: 20px;
    }
    input{
      width: 100%;
      margin-bottom: 20px;
      height: 40px;
    }
  }
  .profit{
    .profit__text{
    width: 20%;
    margin-top: 20px;
    }
    input{
      width: 100%;
      margin-bottom: 20px;
      height: 40px;
    }
  }
}