.a{
  text-align: center;
  margin-top: 50px;
  .chart__name{
    border-bottom: solid 3px #cce4ff;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    a{
    }
  }
  .chart__text{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
  }
}